/*******************
 *   FRAMEWORK PART
 ******************/
body {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-size: 2em;
  font-weight: 900;
  color: #3f3f3f;
  letter-spacing: 0.02em; }

h2 {
  font-size: 1.5em;
  font-weight: 900;
  color: #8a8ea0; }

h3 {
  font-size: 1.17em;
  font-weight: 900;
  color: #34495E; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 0.83em; }

h6 {
  font-size: 0.67em; }

.highlight:hover {
  background-color: #f6fafb; }

.click {
  cursor: pointer; }

/************* INPUTS */
.input {
  height: 41px;
  width: 250px;
  -webkit-text-fill-color: #8a8ea0; }
  .input input {
    border-radius: 3px;
    position: relative;
    z-index: 1;
    box-shadow: none;
    border: 1px solid #f2f5f7;
    color: #4790ff;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0 14px;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.17) inset, 0px 1px white;
    font-size: 14px;
    outline: none;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out; }
    .input input:focus {
      border: 1px solid rgba(0, 102, 255, 0.72);
      box-shadow: 0 0px 0px 2px rgba(165, 201, 227, 0.45); }
      .input input:focus::placeholder {
        opacity: 1; }
    .input input:hover {
      background-color: #f6fafb; }
    .input input::placeholder {
      opacity: 0.6; }
  .input input[type=submit] {
    -webkit-text-fill-color: #515876;
    color: #515876; }

.input.blue input[type=submit] {
  -webkit-text-fill-color: #fff;
  color: #fff; }

.focus input {
  border: 1px solid rgba(0, 102, 255, 0.72);
  box-shadow: 0 0px 0px 2px rgba(165, 201, 227, 0.45); }

.disabled input {
  opacity: 0.5;
  pointer-events: none;
  user-select: none; }

.false input {
  background-color: #fff6f4;
  border: 1px solid #ec6544;
  color: #ec6544;
  -webkit-text-fill-color: #ff3d00; }
  .false input:focus {
    box-shadow: 0 0px 0px 2px rgba(227, 44, 44, 0.16);
    border: 1px solid #e32c2c; }
    .false input:focus::placeholder {
      color: rgba(175, 26, 26, 0.8); }
  .false input:hover {
    background-color: white; }
  .false input::placeholder {
    color: rgba(175, 26, 26, 0.6); }

.true input {
  background-color: #fcfff9;
  border: 1px solid #7faf1a;
  color: #7faf1a;
  -webkit-text-fill-color: #626475; }
  .true input:focus {
    box-shadow: 0 0px 0px 2px rgba(149, 227, 44, 0.16);
    border: 1px solid #7da434; }
    .true input:focus::placeholder {
      color: rgba(70, 175, 26, 0.8); }
  .true input:hover {
    background-color: #f5ffef; }
  .true input::placeholder {
    color: rgba(70, 175, 26, 0.6); }

/************* BUTTONS */
.button, input[type=submit] {
  padding: 10px 31px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #e2e2e2;
  outline: none;
  box-shadow: inset 0px 1px 0px white, inset 0 -1px 1px 0 #949fa7, 0 1px 3px 0 rgba(0, 0, 0, 0.13);
  background-color: #f2f5f7;
  color: #515876;
  font-weight: 600;
  font-family: 'Noto Sans', sans-serif; }
  .button:hover, input[type=submit]:hover {
    background-color: #f7f9fa; }
  .button:active, input[type=submit]:active {
    box-shadow: 0px 0px 0px #cbcbcb, inset 0 -1px 1px 0 white;
    background-color: white; }

.button.blue, input[type=submit] {
  background-color: #5599fe;
  color: white;
  box-shadow: inset 0px 1px 0px #93ceff, inset 0 -1px 1px 0 #3271cf, 0 1px 3px 0 rgba(0, 0, 0, 0.2); }
  .button.blue:hover, input[type=submit]:hover {
    background-color: #67a5ff; }
  .button.blue:active, input[type=submit]:active {
    box-shadow: 0 0px 0px 2px rgba(165, 201, 227, 0.45);
    background-color: #a2c7ff;
    border: 1px solid #8bbcdd; }

.css {
  font-family: 'Courier New', monospace;
  font-size: 0.9em;
  color: #67809F; }

.bar {
  background-color: rgba(0, 0, 0, 0.15);
  height: 1px;
  content: '';
  margin: 1.5rem 0; }

/************* CHECKBOX */
.checkbox input[type=checkbox] {
  visibility: hidden; }
  .checkbox input[type=checkbox]:checked + label:after {
    opacity: 1; }

.checkbox {
  position: relative; }
  .checkbox label {
    top: 0px;
    position: absolute;
    cursor: pointer;
    color: #515876;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .checkbox label:before {
      content: "";
      background: #fff;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.17) inset, 0px 1px white;
      width: 17px;
      height: 17px;
      position: absolute;
      border-radius: 3px;
      left: -24px; }
    .checkbox label:after {
      opacity: 0;
      content: "";
      position: absolute;
      width: 9px;
      height: 4px;
      top: 4px;
      left: -22px;
      background: transparent;
      border: 3px solid #5599fe;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg); }
  .checkbox:hover > label:after {
    opacity: 0.5; }

.checkbox.blue input[type=checkbox]:checked + label:before {
  background: #5599fe; }

.checkbox.blue input[type=checkbox]:checked + label:after {
  border: 3px solid #fff;
  border-top: none;
  border-right: none; }

/************* DROPDOWNS */
.drp {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 39px; }
  .drp .drp-txt {
    box-shadow: inset 0px 1px 0px white, inset 0 -1px 1px 0 #949fa7, 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    width: 100%;
    height: 39px;
    outline: none;
    background-color: white;
    color: #8a8ea0;
    line-height: 37px;
    text-indent: 14px;
    position: absolute;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
    .drp .drp-txt:after {
      position: absolute;
      right: 6px;
      top: 18px;
      content: '';
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      border-color: #555 transparent transparent transparent; }
  .drp ul {
    visibility: hidden;
    position: absolute;
    top: 40px;
    cursor: pointer;
    box-shadow: inset 0 -1px 1px 0 rgba(148, 159, 167, 0.17), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    z-index: 5;
    opacity: 0;
    width: 100%;
    -webkit-transition: opacity .25s, visibility .4s ease;
    -moz-transition: opacity .25s, visibility .4s ease;
    -ms-transition: opacity .25s, visibility .4s ease;
    -o-transition: opacity .25s, visibility .4s ease;
    transition: opacity .25s, visibility .4s ease; }
    .drp ul li {
      background-color: white;
      border-top: 1px solid #efefef;
      width: 100%;
      color: #8a8ea0;
      line-height: 37px;
      text-indent: 14px; }
      .drp ul li:hover {
        background-color: #f6fafb; }
  .drp input {
    z-index: 2;
    cursor: pointer;
    position: absolute;
    border: none;
    background: transparent;
    text-indent: -10px;
    font-size: 0;
    height: 39px;
    width: 100%;
    outline: none; }
    .drp input:hover + .drp-txt {
      background-color: #f6fafb; }
    .drp input:focus ~ ul {
      visibility: visible;
      opacity: 1; }
    .drp input:focus ~ .drp-txt {
      box-shadow: 0 0px 0px 2px rgba(165, 201, 227, 0.45);
      border: 1px solid rgba(0, 102, 255, 0.72); }

/************* SEGMENTS */
.segment {
  background: white;
  border-radius: 3px;
  border: 1px solid #e2e2e2;
  box-shadow: inset 0px 1px 0px white, inset 0 -1px 1px 0 #949fa7, 0 1px 3px 0 rgba(0, 0, 0, 0.13); }

/*
 *font-family: 'Roboto', sans-serif;
 *font-family: 'Noto Sans', sans-serif; */
