doctype html
html(lang="en")
    head
        title Keyboard UI
        meta(charset="utf-8")
        meta(name="description" content="lorem ipsum dolor sit amet")
        link(rel="stylesheet" href="css/reset.css")
        link(rel="stylesheet" href="css/keyui.css")
        link(rel="stylesheet" href="css/style2.css")
    body
        .section1
            button.ui.transparent Transparent
            .input
                input(size="35", value="anything")
            .input.transparent
                input(size="35", value="anything")
        .section2
            button.ui.transparent Transparent
            .input.transparent
                input(size="35", value="anything")
            .input
                input(size="35", value="anything")
    script(src="js/keyui.js")