doctype html
html(lang="en")
    head
        title Keyboard UI
        meta(charset="utf-8")
        meta(name="description" content="Lorem ipsum dolor sit amet.")
        link(rel="stylesheet" href="css/reset.css")
        link(rel="stylesheet" href="css/keyui.css")
        link(rel="stylesheet" href="css/style.css")
    body
        .section1
            button.ui.transparent Transparent
        .section2
            button.ui.transparent Transparent
        .section3
            button.ui.transparent Transparent
        .section4
            button.ui.transparent Transparent
        .section5
            button.ui.transparent Transparent
        //script(src="js/keyui.js")