@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
button.ui {
  padding: 10px 31px;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Noto Sans', sans-serif;
  background-color: #f5f5f5;
  border: 1px solid #e1e1e1;
  box-shadow: inset 0px 1px 0px white, inset 0 -1px 1px 0 #9c9c9c, 0 1px 3px 0 rgba(0, 0, 0, 0.13);
  color: #8f8f8f; }
  button.ui:hover {
    background-color: white; }
  button.ui:active {
    box-shadow: 0px 0px 0px #cacaca, inset 0 -1px 1px 0 white;
    background-color: white; }
