doctype html
html(lang="en")
    head
        title Keyboard UI
        meta(charset="utf-8")
        meta(name="description" content="Lorem ipsum dolor sit amet.")
        link(rel="stylesheet" href="./test/out/css/style.css")
    body
        - var sections = 1
        while sections <= 15 
            div(class="section" + sections++)
                .wrapper
                    .wrap
                        button.ui.transparent Transparent
                        button.ui.primary Primary
                    .ui.select.transparent
                        label Basic select dropdown
                        div This is regulard select input
                        select
                            option Option 1
                            option Option 2
                            option Option 3
                            option Option 4
                    .ui.input.transparent
                        label Regular input with label
                        div And this is some tip
                        input(size="45", value="")
                    .ui.input.transparent.disabled
                        label Disabled transparent input
                        input(size="45", value="", disabled)
                    .ui.input.error
                        label Error example
                        div And this is some tip
                        input(size="45", value="")
                    .box
                        span.text Pagination
                        form.ui.pag.transparent
                            button(type="button")
                                i.ui.arrow.l
                            .ui.test.transparent
                                input(type="number")
                            span /
                            span 10
                            button(type="button")
                                i.ui.arrow.r
                    .ui.input.checkbox
                        input(type="checkbox" tabindex="0" checked)
                        label Checkbox

        script(type="module" src="./js/keyui.js")