@import "../../../src/sass/keyui"

$sections: #ffffff #ebdfc7 #bfb6a3 #454545 #bf4122 #cf4232 #eb7f23 #fac023 #068675 #6b202e #165873 #124c59 #428c5c #4ea64b #add96c

@for $i from 1 to length($sections) + 1
    .section#{$i}
        @extend %section
        height: 690px
        background-color: nth($sections, $i)
        .text
            @include textColor(nth($sections, $i))
            font-size: 14px
            line-height: 25px
            font-weight: 600
            font-family: 'Roboto', sans-serif
        .wrapper
            position: absolute
            top: 45%
            left: 50%
            transform: translate(-50%, -50%)
            width: 30%
            *
                margin: auto
            .wrap
                display: block
                *
                    display: inline
                    margin-left: 10px
                button.ui.transparent
                    @include transparent-btn(nth($sections, $i))
                    @extend %btn
                button.ui.primary
                    @include transparent-btn(#0a90ef)
                    @extend %btn
            .input
                margin-top: 20px
                @extend %input
                &.transparent
                    @include transparent-input(nth($sections, $i))
                &.disabled
                    @extend %input_disabled
                &.error
                    @include error-input(nth($sections, $i))
            .select
                margin-top: 20px
                @extend %select
                &.transparent
                    @include transparent-select(nth($sections, $i))
            .box
                position: relative
                margin-top: 30px
            .ui.pag.transparent
                position: absolute
                top: 50%
                left: 50%
                margin-right: -50%
                transform: translate(-50%, -50%)
                @include transparent-pag(nth($sections, $i))
                @extend %pag
                i.ui.arrow
                    &.r
                        @include arrow(nth($sections, $i), "right")
                    &.l
                        @include arrow(nth($sections, $i), "left")
            .ui.checkbox
                position: relative
                @include transparent-checkbox(nth($sections, $i))
%section
    position: relative
    // button.ui.transparent
    //     position: absolute
    //     top: 30%
    //     left: 50%
    //     transform: translate(-50%, -50%)
    // .input
    //     position: absolute
    //     top: 70%
    //     left: 50%
    //     transform: translate(-50%, -50%)
    
    
body
    background-color: nth($sections, 5)